@charset "UTF-8";
@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Krona+One&display=swap");
/* GENERAL •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••*/
html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  background: #0d0f16;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.68em;
  color: #677DA7;
  font-size: 0.925rem;
}
body > * {
  margin: auto;
  width: 100%;
  max-width: 1600px;
  padding: 2rem;
  background: #11151E;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.25em;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

.button {
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.25em;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  display: block;
  padding: 1rem;
  background: #161E2E;
  color: #677DA7;
  text-decoration: none;
  border: none;
  transition: 0.25s ease;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .hideOnMobile {
    display: none;
  }
}

/* LANDING •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••*/
#landing {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  max-width: unset;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}
#landing::before, #landing::after {
  content: "";
  position: absolute;
}
#landing::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/about/landing.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  filter: blur(4px) brightness(50%);
}
#landing::after {
  top: calc(50% - 6rem);
  left: calc(50% - 6rem);
  width: 12rem;
  aspect-ratio: 1/1;
  background-image: url("../images/about/logoLanding.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* NAV •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••*/
nav {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  height: 5rem;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  background: #161E2E;
  border-bottom: solid 1px #11151E;
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.25em;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 0.75rem;
  z-index: 1000;
  /* Socials */
}
nav .triplebar {
  display: none;
  margin-right: auto;
  font-size: 2.5rem;
}
@media screen and (max-width: 768px) {
  nav .triplebar {
    display: block;
  }
}
nav #logo {
  display: flex;
  position: absolute;
  aspect-ratio: 1/1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 3rem;
  background-image: url("../images/about/logoNav.svg");
  left: 0;
  right: 0;
  margin: auto;
}
nav #patreon {
  display: flex;
  position: absolute;
  aspect-ratio: 1/1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 1.5rem;
  background-image: url("../images/socials/patreon.svg");
}
@media screen and (min-width: 769px) {
  nav #patreon {
    margin-top: -0.75rem;
  }
}
nav a {
  text-decoration: none;
  color: #677DA7;
}
nav a:hover {
  opacity: 0.5;
}
nav .mobileMenu {
  display: flex;
  gap: 2rem;
}
@media screen and (max-width: 768px) {
  nav .mobileMenu {
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    top: 5rem;
    left: 0;
    padding: 2rem;
    background: #161E2E;
    width: 100%;
    max-width: 10rem;
  }
  nav .mobileMenu.expanded {
    display: flex;
  }
  nav .mobileMenu:first-of-type {
    top: 12.5rem;
  }
}

/* CONTACT POPUP •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••*/
#navlinksPopup {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.5333333333);
  top: 5rem;
  left: 0;
  width: 100vw;
  height: calc(100vh - 5rem);
}
#navlinksPopup.engaged {
  display: block;
}
#navlinksPopup.about .content.aboutContent {
  display: flex;
}
#navlinksPopup.about .content.aboutContent img {
  width: 8rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 100%;
}
@media screen and (max-width: 768px) {
  #navlinksPopup.about .content.aboutContent img {
    width: 5rem;
  }
}
#navlinksPopup.about .content.aboutContent p {
  text-align: left;
}
#navlinksPopup.contact .content.contactContent {
  display: flex;
}
#navlinksPopup .content {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 50vh;
  left: calc(50% - 2rem);
  transform: translate(-50%, calc(-50% - 5rem));
  width: calc(100% - 4rem);
  max-width: 32rem;
  margin: 2rem;
  padding: 2rem;
  background: #161E2E;
  align-items: center;
  border-radius: 0.5rem;
}
#navlinksPopup .content > * {
  text-align: center;
}
#navlinksPopup .content > *:not(:last-child) {
  margin-bottom: 2rem;
}
#navlinksPopup .content p {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.68em;
  color: #677DA7;
  font-size: 0.925rem;
  letter-spacing: normal;
  text-transform: none;
}
#navlinksPopup .content a {
  font-weight: 800;
  color: #7f94b9;
}

.contactForm {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contactForm .formGroupContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}
.contactForm .formGroupContainer * {
  text-align: left;
}
.contactForm .formGroupContainer .formGroup {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}
.contactForm .formGroupContainer .formGroup label {
  position: absolute;
  top: -0.35rem;
  left: 0.35rem;
  padding: 0 0.35rem;
  background: linear-gradient(to bottom, #161E2E, #161E2E 40%, #11151E 40%, #11151E 100%);
  border-radius: 0.25rem;
}
.contactForm .formGroupContainer .formGroup input, .contactForm .formGroupContainer .formGroup textarea {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.68em;
  color: #677DA7;
  font-size: 0.925rem;
  flex: 1;
  padding: 1.05rem 0.7rem 0.7rem 0.7rem;
  color: #7f94b9;
  background: #11151E;
  border: 1px solid rgba(103, 125, 167, 0.5019607843);
  border-radius: 0.25rem;
}
.contactForm .formGroupContainer .formGroup input:-webkit-autofill, .contactForm .formGroupContainer .formGroup textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #11151E inset;
  -webkit-text-fill-color: #7f94b9 !important;
}
.contactForm .formGroupContainer .formGroup input:focus, .contactForm .formGroupContainer .formGroup textarea:focus {
  outline: none;
  border: 1px solid #7f94b9;
}
.contactForm .formGroupContainer .formGroup textarea {
  min-height: 8rem;
  resize: vertical;
}
.contactForm .formGroupContainer .formGroup .required::after {
  content: "*";
  display: inline-block;
  margin-left: 0.125rem;
  color: #f87d58;
}
.contactForm .formSubmit {
  color: #7f94b9;
  background: rgba(103, 125, 167, 0.5019607843);
  margin: auto;
}
.contactForm .formSubmit:hover {
  opacity: 0.5;
}

/* HOMEPAGE ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••*/
#homeContent {
  padding-top: 5rem;
}
#homeContent section {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}
#homeContent section:not(:last-of-type) {
  padding-bottom: 4rem;
  border-bottom: solid 1px rgba(103, 125, 167, 0.5019607843);
  margin: 2rem 0 4rem 0;
}
#homeContent section:last-of-type {
  margin-bottom: 0;
}
#homeContent section h2 {
  text-align: center;
  margin: 2rem 0;
}
#homeContent section .button {
  margin: 2rem auto;
}
#homeContent section .inch_2 .itemsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#homeContent .itemsGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 2rem auto;
  width: auto;
  max-width: 52rem;
}
@media screen and (max-width: 768px) {
  #homeContent .itemsGrid {
    flex-direction: column;
  }
}
#homeContent .itemsGrid > * {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: #161E2E;
  border-radius: 0.5rem;
  overflow: hidden;
  margin: auto;
  width: 25rem;
}
@media screen and (max-width: 768px) {
  #homeContent .itemsGrid > * {
    width: calc(100vw - 4rem);
    max-width: 25rem;
  }
}
#homeContent .itemsGrid > * .itemTitle, #homeContent .itemsGrid > * .itemPrice {
  margin-bottom: 1rem;
  text-align: center;
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.25em;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}
#homeContent .itemsGrid > * .itemPrice {
  display: none;
  font-size: 0.75rem;
}
#homeContent .itemsGrid > * .itemDescription {
  display: inline-block;
  margin: auto;
}

/* CUSTOM CONTENT ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••*/
.strawberry .gallery .featuredImage {
  background-image: url("../images/pots5.5/strawberry1.jpg");
}

.hood .gallery .featuredImage {
  background-image: url("../images/pots4.5/hood1.jpg");
}

.korok .gallery .featuredImage {
  background-image: url("../images/pots2/korok1.jpg");
}

.fungi .gallery .featuredImage {
  background-image: url("../images/pots2/violetCort1.jpg");
}

.insects .gallery .featuredImage {
  background-image: url("../images/pots2/insects1.jpg");
}

.scenery .gallery .featuredImage {
  background-image: url("../images/pots2/forestPark1.jpg");
}

/* GALLERY •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••*/
.gallery.fullScreenImg {
  content: "";
  display: block;
  background: #0d0f16;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.gallery .featuredImage {
  width: 100%;
  aspect-ratio: 1/1;
  background-color: #11151E;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0.5rem;
  cursor: zoom-in;
}
@media screen and (max-width: 50rem) {
  .gallery .featuredImage {
    background-size: auto 100%;
  }
}
.gallery .featuredImage.engaged {
  display: flex;
  justify-content: center;
  position: fixed;
  margin: 0;
  width: 100%;
  height: calc(100% - 5rem - 4rem);
  max-height: calc(100vh - 5rem);
  aspect-ratio: unset;
  top: calc(2.5rem + 50%);
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  background-size: contain;
  border-radius: 0;
  background-color: transparent;
  cursor: zoom-out;
  z-index: 100;
}
.gallery .imageController {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  padding: 2rem 1rem;
}
.gallery .imageController .imageSelector, .gallery .imageController .prev, .gallery .imageController .next {
  background: #677DA7;
  border-radius: 100%;
  width: 0.5rem;
  height: 0.5rem;
  opacity: 0.5;
  cursor: pointer;
}
.gallery .imageController .imageSelector:hover, .gallery .imageController .imageSelector.current, .gallery .imageController .prev:hover, .gallery .imageController .prev.current, .gallery .imageController .next:hover, .gallery .imageController .next.current {
  opacity: 1;
}
.gallery .imageController .prev, .gallery .imageController .next {
  border-radius: 0;
  width: 0.75rem;
  height: 0.75rem;
  background: rgba(255, 255, 255, 0);
  background-image: url("../images/about/arrow.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  margin: 0 0.5rem;
}
.gallery .imageController .prev:hover, .gallery .imageController .next:hover {
  opacity: 0.25;
}
.gallery .imageController .prev.next, .gallery .imageController .next.next {
  transform: rotate(-180deg);
}

/* FOOTER ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••*/
footer {
  padding: 0 2rem;
}
footer section {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  border-top: solid 1px rgba(103, 125, 167, 0.5019607843);
}
footer section p {
  opacity: 0.75;
}

/*# sourceMappingURL=styles.css.map */
